{% extends 'BusinessWebsiteThemeBundle:Theme:base/base.html.twig' %}

{# BEGIN-EXTERNAL-STYLESHEETS
@BusinessWebsiteThemeBundle/Resources/public/css/reset.css
@BusinessWebsiteThemeBundle/Resources/public/css/layout.css
@BusinessWebsiteThemeBundle/Resources/public/css/style.css
@BusinessWebsiteThemeBundle/Resources/public/css/al_fix_style.css
END-EXTERNAL-STYLESHEETS #}

{# BEGIN-EXTERNAL-JAVASCRIPTS
@AlphaLemonThemeEngineBundle/Resources/public/js/vendor/jquery/*
@BusinessWebsiteThemeBundle/Resources/public/js/cufon-yui.js
@BusinessWebsiteThemeBundle/Resources/public/js//al-cufon-replace.js
@BusinessWebsiteThemeBundle/Resources/public/js/Swis721_Cn_BT_400.font.js
@BusinessWebsiteThemeBundle/Resources/public/js/Swis721_Cn_BT_700.font.js
@BusinessWebsiteThemeBundle/Resources/public/js/tabs.js
END-EXTERNAL-JAVASCRIPTS #}

{% block body_tag %}
<body id="page5">
{% endblock %}

{% block content %}
    <article id="content">
        <div class="wrapper">
            <section class="col1">
            {% block middle_sidebar %}
                {# BEGIN-SLOT MIDDLE_SIDEBAR
                    htmlContent: |
                        <h2 class="under">Contact form</h2>
                        <form id="ContactForm" method="post">
                            <div>
                                <div  class="wrapper">
                                    <span>Your Name:</span>
                                    <input type="text" class="input" >
                                </div>
                                <div  class="wrapper">
                                    <span>Your City:</span>
                                    <input type="text" class="input" >
                                </div>
                                <div  class="wrapper">
                                    <span>Your E-mail:</span>
                                    <input type="text" class="input" >
                                </div>
                                <div  class="textarea_box">
                                    <span>Your Message:</span>
                                    <textarea name="textarea" cols="1" rows="1"></textarea>
                                </div>
                                <a href="#" onClick="document.getElementById('ContactForm').submit()">Send</a>
                                <a href="#" onClick="document.getElementById('ContactForm').reset()">Clear</a>
                            </div>
                        </form>
                END-SLOT #}
                {{ renderSlot('middle_sidebar') }}
            {% endblock %}
            </section>
            <section class="col2 pad_left1">
            {% block right_sidebar %}
                {# BEGIN-SLOT RIGHT_SIDEBAR
                    htmlContent: |
                        <h2 class="under">Contacts</h2>
                        <div id="address"><span>Country:<br>
                        City:<br>
                        Telephone:<br>
                        Email:</span>
                        USA<br>
                        San Diego<br>
                        +354 5635600<br>
                        <a href="mailto:" class="color2">elenwhite@mail.com</a></div>
                        <h2 class="under">Miscellaneous</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium volupta- tum deleniti atque corrupti quos dolores et quas molestias excep- turi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                END-SLOT #}
                {{ renderSlot('right_sidebar') }}
            {% endblock %}
            </section>
        </div>
    </article>
<script type="text/javascript"> Cufon.now(); </script>
{% endblock %}